{% extends 'base/base.html' %}


{% block app_content %}
<section>
<div class="container">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col border border-success rounded p-2 m-2">
            <a href='{{url_for("chat.index")}}'>{{current_user.teams.count()}} Times</a>
          </div>
          <div class="col border border-success rounded p-2 m-2">
            <a href="{{url_for('ticket.index')}}">{{current_user.tickets.count()}} Tickets</a>
          </div>
          <div class="col border border-success rounded p-2 m-2">
            One of three columns
            <hr>
            teste
          </div>
        </div>
      </div>
    TEste
</div>
</section>
{% endblock %}

